
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tooltip - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

</head>
<body>
  #TOOLTIP
  <script>
    $(document).ready( function(){
       $("#age1").tooltip();
      $("#age2").tooltip();
      $("#age3").tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });
    }) ; 
    </script>
<p><input id="age1" title="We ask for your age only for statistical purposes."></p>
<p id="age2" title="We ask for your age only for statistical purposes.">something</p>
<p id="age3" title="We ask for your age only for statistical purposes.">animation</p>

 
 
#draggable
<style>
  #draggable { width: 150px; height: 50px; padding: 0.5em; border-style: dotted; }
  </style>  <script>
  $(document).ready( function() {
    $( "#draggable" ).draggable();
  } );
  </script> 
<div id="draggable">
  <p>Drag me around</p>
</div>
 
#rezisable 
<style>
  #draggableq { width: 150px; height: 50px; padding: 0.5em; border-style: dotted; }
  </style><script>
  $(document).ready( function() {
    $( "#draggableq" ).resizable();
  } );
  </script> 
<div id="draggableq">
  <p>rezise around</p>
</div>

#sortable
<script>
  $(document).ready( function() {
    $( "#sortable" ).sortable();
  } );
  </script>  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; width: 100px;}
  </style>
<ul id="sortable">
  <li class="ui-state-default">Item 1</li>
  <li class="ui-state-default">Item 2</li>
  <li class="ui-state-default">Item 3</li>
</ul>

#autocomplete suggesstion box
<script>
  $(document).ready( function() {
    var availableTags = [      "ActionScript",      "AppleScript",      "Asp",      "BASIC",
      "C",      "C++",      "Clojure",      "COBOL",      "ColdFusion",      "Erlang",      "Fortran",
      "Groovy",      "Haskell",      "Java",      "JavaScript",      "Lisp",      "Perl",      "PHP", 
      "Python",      "Ruby",      "Scala",      "Scheme"    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script> <br>
  <input id="tags"> 
  <br>
#dialog
<script>
$(document).ready( function() {    
    $("#dialogbtn").on("click",function(){
      $( "#dialog" ).dialog();
      $("#dialog").removeAttr("hidden");
    });
  } );
  </script> <br>
  <button class="btn" id="dialogbtn">Click Here</button> 
<div id="dialog" title="Basic dialog"  hidden="hidden">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the &apos;x&apos; icon.</p>
</div> 
<br>
#bar
<script>
  $(document).ready( function() {
    $( "#progressbar" ).progressbar({
      value: 40
    });
  } );
  </script>
<div id="progressbar" style="width:150px;"></div>
<br>
#slider
<script>
  $(document).ready(function(){
    $("#slider").slider();
  });
  </script>
<div id="slider"  style="width:150px;"></div>
<br>
#tabs
<script>
  $(document).ready( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
 
<div id="tabs"   style="width:150px;"> 
  <ul>
    <li><a href="#tabs-1">1</a></li>
    <li><a href="#tabs-2">2</a></li>
    <li><a href="#tabs-3">3</a></li>
  </ul>
  <div id="tabs-1">abc</div>
  <div id="tabs-2">def</div>
  <div id="tabs-3">ijk</div>
</div>
<br>
#accordion  <script>
  $(document).ready( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
<div id="accordion" style="width: 300px;">
  <h3>1</h3>
  <div>    <p>    abc    </p>  </div>
  <h3>2</h3>
  <div>    <p>    def    </p>  </div>
</div>
 
 
</body>
</html>
