<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Tooltip - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

  <title>TO DO</title>
  <style>
    .liborder { 
        border: solid;
        width: 300px; }
    </style>
</head>
<body>
    <script>
        $(document).ready(
            function() {
                $("#tabs").tabs(function(){
                    $("#tabs").tabs("refresh");
                });
                $("ul").sortable();
                $("ol").sortable();
                $("#taskbtn").click(function(){
                $("#task-dialog").dialog({width:400,resizable:false,modal:true,buttons:{
                    "add new task":function(){
                        $("#tabs").tabs("refresh");
                        var active = $("#tabs").tabs("option","active");
                        var nthchild = $("#ul > li:nth-child("+ active +") > a").attr("href");
                        alert(nthchild);
                        var taskname = $("#taskname").val();
                        $("<li class='liborder'><a href='#"+taskname+"'>"+taskname+"</a></li>").appendTo("#ol");
                        $("#tabs").tabs("refresh");
                        $("#taskname").val("");
                        $(this).dialog("close");
                    },
                    "cancel":function(){
                        $(this).dialog("close");
                    }
                }});})
                
                $("#projectbtn").click(function(){
                $("#project-dialog").dialog({width:400,resizable:false,modal:true,buttons:{
                    "add new project":function(){
                        $("#tabs").tabs("refresh");
                        var projectname = $("#projectname").val();
                        $("<li style='width: auto;'><a href='#"+projectname+"'>"+projectname+"</a></li>").appendTo("#ul");
                        $("#tabs").tabs("refresh");
                        $("#projectname").val("");
                        $(this).dialog("close");
                    },
                    "cancel":function(){
                        $(this).dialog("close");
                    }
                }});})
                
        });
        </script>
  <div id="tabs"   style="width:650px;"> 
    <button id="projectbtn" style="float: right;">Add Projects</button>
    <ul id="ul">
      <li style="width: auto;"><a href="#Personal">Personal</a></li>
      <li style="width:auto;"><a href="#Work">Work</a></li>
    </ul>
    <div id="Personal">
        <ol id="ol">

            <li class="liborder"><input type="checkbox" >task1 for Personal</li>
            <li class="liborder"><input type="checkbox">task2</li>
            <li class="liborder"><input type="checkbox">task3</li>
        </ol>
    </div>
    <div id="Work">
        <ol id="ol">
            <li class="liborder"><input type="checkbox" >task1 for work</li>
             <li class="liborder"><input type="checkbox">task2</li>
             <li class="liborder"><input type="checkbox">task3</li>
       </ol>
    </div>
    <div id="project-dialog" style="display:none;">
        <label for="tabs">Project name:</label><input id="projectname" type="text">
    </div>
    <div id="task-dialog" style="display:none;">
        <label for="tabs">Task name:</label><input id="taskname" type="text">
    </div>
    <button id="taskbtn" style="float: right;">Add Task</button>
  </div>
</body>
</html>
